    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="./homepg.css">
        <link rel="stylesheet" href="hpg.js">
    </head>
    <body>


        <nav>
            <div class="logo">
                <h1>FIEB <br> ACCESS</h1>
            </div>
            <button>&#9776</button>
                <ul>
                <li>
                    <a href="file:///Z:/tela/Profissionais/prof.html">Nossos Profissionais</a>
                </li>
                <li>
                    <a href="Z:\tela\perfil\perfil.html"><button2>Perfil</button2></a>
                
                </li>
                <li>
                    <a href="/STYLES/HTML/sobrenos.html">Sobre Nós</a>
                    
                </li>
            </ul>
        
        </nav>
    </div>
    <div id="himg">

        <h2>  </h2>

    </div>
    </header>
        </div>
    </div>
    </div>
            <div class="SubTitulo">  
                <h1 class="ST"> FIEB - Access</h1>
                <div>
                <div class="">
                    <div class=""> 
                        <img id="Um" src="/Navegação\std.svg" alt="">
                        </div>
                <h2 class="body1"> Somos a
                <a id="a2"> FIEB Access</a>, nosso projeto tem o objetivo de criar um meio de valorizar
                a integridade física e mental dos alunos com um sistema que conecta profissionais qualificados 
                ás necessidades de cada estudante.
                Desejamos possibilitar um sistema de benefícios com preços econômicos que cabem no seu bolso . 
                <br>
        
                Afinal, 
                <a>bem estar é um direito para todos.</a>
                </h2>
                </div>
                <h2 class="body2"></h2>
            
                <h1 class="ST2"> Conheça nossos Beneficios </h1>  
                <h2 class="body3">Dentre os benefícios que oferecemos, temos diversos profissionais da saúde das áreas 
                    da <a>psicólogia, psicoterapia, odontologia, nutrólogos , pediatras e cuidadores para alunos portadores de deficiência. 
                    <br>
                    </h2>
              
        
                    </div>
                
                    

                </div>  

                
    
    </div>
        </div>

    </body>
    </html>
