body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.book-button {
    background-color: purple;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}

.book-button:hover {
    background-color: purple;
    color: white;
}
.back button:hover{
    background-color: rgba(148, 7, 204, 0.966);

}

.back button{
    background-color: rgb(245, 235, 245);
    border:1px inset #5E366A;
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;

}

.wrap table{
    border: 2px outset purple;
}
.wrap {
    color: black;
}
 .title h1{
    background: linear-gradient(0.25turn, #5E366A, #ebf8e1,rgb(167, 2, 167));
    border: 1px inset rgb(158, 154, 158);
    padding: 1%;
    font-weight: 800;
    font-size: 200%;
    font-family:'Times New Roman', Times, serif;

}
.back{
    max-height: fit-content;
    margin-bottom: 30%;

}
.back h1{
    color: rgb(64, 63, 65);
    text-shadow: 1px 1px black;

}
.gradient {
        background: white;
      }
      .back button{
        color: black;

      }

      .container.mx-auto.px-8 {
        background: linear-gradient(0.25turn, #5E366A, purple);
        
      }

      .flex-1 a{
        color: white;
      }

      .container.mx-auto.px-8 p{
        color: white;
      }
      .flex-1.mb-6.text-black a{
        color: #ff1d8e;
      
      }